.p {
  width: 100%;
  margin-top: 10px;
}

.p-info {
  width: 100%;
  margin-left: 4px;
  &-photo {
    img {
      border-radius: 50%;
      transition: 0.25s ease;
    }
    &:hover img {
      border-radius: 5px;
    }
  }
  &-username {
    p {
      font-weight: 500;
    }
  }
  &-cards {
    display: flex;
    width: 200px;
    p {
      margin: 0 auto;
    }
  }
}

.p-cards {
  width: 100%;
}

.pr {
  position: fixed;
  bottom: 20px;
  left: 10px;
  opacity: 0.75;
  padding: 5px;
  &:hover {
    opacity: 1;
  }
  &-btn {
    width: 50px;
    height: 50px;
    img {
      width: 40px;
      height: 40px;
    }
  }
}
