.p {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.p-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-left: 4px;
  &-photo {
    img {
      border-radius: 50%;
      transition: 0.25s ease;
    }
    &:hover img {
      border-radius: 5px;
    }
  }
  &-username {
    p {
      font-weight: 500;
    }
  }
  &-cards {
    display: flex;
    width: 200px;
    p {
      margin: 0 auto;
    }
  }
}
