:root {
  --ccInput: var(--black);
}

.cc {
  width: 100%;
  height: 100%;
  max-height: 750px;
  position: sticky;
  top: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 4px;
  &-fill {
    width: 100%;
    height: max-content;
    overflow-y: auto;
    border-radius: 25px;
  }
  &-switch {
    margin-bottom: 4px;
  }
}

.cc-c {
  width: calc(100% - 24px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 6px;
  margin: 6px;
  background-color: var(--bgComment);
  position: relative;
  z-index: 1;
  &-i {
    display: flex;
    justify-content: space-between;
    &-u {
      display: flex;
    }
    &-img {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 40px;
        height: 40px;
      }
    }
    &-user {
      margin-left: 4px;
      p {
        margin: 2px 0 0 0;
      }
      &-date {
        font-size: 14px;
      }
    }
    &-del {
      margin-right: 0;
    }
  }
  &-comment {
    p {
      margin: 4px;
      word-wrap: break-word;
      word-break: break-all;
    }
  }
  &:hover {
    background-color: var(--bgLight);
  }
}

.cc-cr {
  width: calc(100% - 12px);
  display: flex;
  justify-content: space-between;
  background-color: var(--bgComment);
  margin: 6px;
  &-cont {
    position: sticky;
    z-index: 2;
    bottom: 0;
    padding: 4px 0;
  }
  &-input-cont {
    width: 94%;
    height: 50px;
    background-color: var(--white);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  &-symbols {
    margin: 0;
    font-size: 12px;
    top: 2px;
    margin: 0 50px 0 4px;
    width: 0;
    color: var(--ccInput);
  }
  &-input {
    position: relative;
    width: calc(100% - 14px);
    height: 36px;
    word-break: break-all;
    overflow: hidden;
    border: 2px solid var(--transparent);
    z-index: 2;
    padding: 6px;
    background-color: var(--transparent);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    &:hover,
    &:focus {
      background-color: var(--transparent);
    }
  }
  &-send {
    margin-left: 4px;
    max-width: 50px;
    max-height: 30px;
  }
}

.symbols-error {
  color: var(--error);
}

@media screen and (max-width: 532px) {
  .cc {
    margin: 12px 0 0 0;
    &-fill {
      border-radius: 0;
    }
  }
}
