.g {
  display: flex;
  flex-direction: column;
  margin: 60px 10px 20px 10px;
}

.cards-container {
  margin: 0 auto;
}

.card {
  &-link {
    cursor: zoom-in;
    text-decoration: none;
    color: var(--black000);
    outline: none;
    display: block;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 12.5px;
    &:focus .card-p-top img {
      filter: brightness(90%);
    }
  }
  &-p {
    margin: 10px;
    width: 250px;
    height: auto;
    cursor: zoom-in;
    outline: none;
    &:hover .card-p-top img {
      filter: brightness(90%);
    }
    &-top {
      img {
        width: 100%;
        height: auto;
        border-radius: 15px;
      }
    }
    &-bottom {
      display: flex;
      align-items: center;
      img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }
      p {
        width: 100%;
        margin: 0 0 0 5px;
        white-space: nowrap;
        overflow: hidden;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          right: 0;
          top: 0;
          width: 35%;
          height: 100%;
          background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0),
            rgb(255, 255, 255) 100%
          );
        }
      }
    }
  }
}

.imageSrc {
  width: 80%;
  height: auto;
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  div {
    position: absolute;
    top: 33px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: rgb(103, 154, 235);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    &:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
    }
    &:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    &:nth-child(3) {
      left: 40px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    &:nth-child(4) {
      left: 72px;
      animation: lds-ellipsis3 0.6s infinite;
    }
  }
}

.dataLoaded {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  &-icon {
    background-image: url('../../images/gallery/dataLoaded.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
  }
  &-text {
    font-size: 20px;
    margin-left: 5px;
    color: #1c941c;
  }
}

@media screen and (max-width: 650px) {
  .g {
    margin: 60px 5px 20px 5px;
  }
  .card-p {
    width: 42.5vw;
    margin: 5px;
  }
}
@media screen and (max-width: 380px) {
  .g {
    margin: 60px 5px 20px 5px;
  }
  .card-p {
    width: 90vw;
    margin: 5px;
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(32px, 0);
  }
}
