.g {
  display: flex;
  flex-direction: column;
  margin: 0 10px 20px 10px;
  width: 100%;
}

.cards-container {
  width: 100%;
  margin: 0 auto;
}

.card {
  &-link {
    cursor: zoom-in;
    text-decoration: none;
    color: var(--black000);
    outline: none;
    display: block;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 12.5px;
    &:focus {
      animation: blinkBorder 5s infinite ease-in-out;
    }
    &:focus .card-p-top img {
      animation: blinkCardImg 5s infinite ease-in-out;
    }
  }
  &-p {
    margin: 10px;
    width: 250px;
    height: auto;
    cursor: zoom-in;
    outline: none;
    &:hover .card-p-top img {
      filter: brightness(75%);
    }
    &-top {
      img {
        width: 100%;
        height: auto;
        border-radius: 15px;
      }
    }
    &-bottom {
      display: flex;
      align-items: center;
      img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }
      p {
        width: 100%;
        margin: 0 0 0 5px;
        white-space: nowrap;
        overflow: hidden;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          right: 0;
          top: 0;
          width: 35%;
          height: 100%;
          background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0),
            rgb(255, 255, 255) 100%
          );
        }
      }
    }
  }
}

.imageSrc {
  width: 80%;
  height: auto;
}

.dataLoaded {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  &-icon {
    background-image: url('../../images/gallery/dataLoaded.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
  }
  &-text {
    font-size: 20px;
    margin-left: 5px;
    color: #1c941c;
  }
}

@media screen and (max-width: 650px) {
  .g {
    margin: 0 2px 20px 2px;
  }
  .card-p {
    width: 46vw;
    margin: 2px 4px;
  }
}
@media screen and (max-width: 380px) {
  .g {
    margin: 0 5px 20px 5px;
  }
  .card-p {
    width: 90vw;
    margin: 5px;
  }
}
