.SideBar {
  position: fixed;
  background: var(--mainBg);
  border-right: 4px solid var(--border1);
  max-width: 250px;
  height: 100vh;
  overflow: auto;
  grid-area: sideBarSection;
}

.searchSection {
  margin: 5px;
  .searchPanel {
    display: flex;
    .inputSearchDiv {
      width: 240px;
      background: var(--inputBg);
      border-radius: 15px;
      display: grid;
      grid-template-columns: 210px 20px;
      grid-template-rows: 1fr;
      gap: 0px 0px;
      grid-template-areas: "edit button";
      align-items: center;
      .inputSearchEdit {
        grid-area: edit;
        background: none;
        max-width: 210px;
        max-height: 100px;
        margin: 5px;
        text-align: left;
        border: none;
        outline: none;
        overflow-y: auto;
        overflow-x: hidden;
        word-break: break-all;
        word-wrap: break-word;
      }
      .inputSearchEdit[contentEditable="true"]:empty:not(:focus)::before {
        content: attr(data-placeholder);
        cursor: text;
      }
      .inputSearchEdit[contentEditable="true"]:empty:before {
        content: attr(placeholder);
      }
      .searchBtn {
        background-image: url("../../images/sideBar/searchIcon.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-color: var(--transparentBg);
        grid-area: button;
        border: none;
        outline: none;
        padding: 0;
        width: 20px;
        height: 20px;
        cursor: pointer;
        &:hover {
          background-image: url("../../images/sideBar/searchIconHover.svg");
        }
      }
    }
  }
  .tagsPanel {
    margin: 5px;
    .tagDiv {
      display: flex;
      align-items: center;
      width: max-content;
      padding: 1px 3px 1px 3px;
      border-radius: 15px;
      float: left;
      margin: 5px 0 0 5px;
      &:nth-child(1) {
        margin: 5px 0 0 0;
      }
      .tagBtn {
        background-size: contain;
        background-repeat: no-repeat;
        background-color: var(--transparentBg);
        width: 15px;
        height: 15px;
        margin-left: 5px;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 15px;
        &Delete {
          background-image: url("../../images/sideBar/tagDelete.svg");
          &:hover {
            background-image: url("../../images/sideBar/tagDeleteHover.svg");
          }
        }
        &Remove {
          background-image: url("../../images/sideBar/tagRemove.svg");
          &:hover {
            background-image: url("../../images/sideBar/tagRemoveHover.svg");
          }
        }
        &Add {
          background-image: url("../../images/sideBar/tagAdd.svg");
          &:hover {
            background-image: url("../../images/sideBar/tagAddHover.svg");
          }
        }
      }
    }
    .tagNotRemoved {
      background-color: var(--tagNRBg);
    }
    .tagRemoved {
      background-color: var(--tagRBg);
    }
  }
}
