:root {
  // --imageColor: #262626; //color for images
  // --imageColor: #26262680; //color for transparent images
  // --imageColorRed: #CC2727; filter: invert(34%) sepia(36%) saturate(4146%) hue-rotate(339deg) brightness(77%) contrast(110%);
  // --imageColorBlue: #1E18D9; filter: invert(13%) sepia(78%) saturate(3733%) hue-rotate(237deg) brightness(113%) contrast(116%);
  // --imageColorGreen: #1cc916; filter: invert(54%) sepia(80%) saturate(866%) hue-rotate(74deg) brightness(95%) contrast(102%);
  --bgLight: #f1efff;
  --bgHigh: #cad4f1;
  --bgLightAlt: #dee3f5;
  --bgHighAlt: #bdcdff;
  --brdGray: #464646;
  --bgDark: #7290e9;
  --bgLightTransparent: rgba(241, 239, 255, 0.5);
  --bgLightTransparent95: rgba(241, 239, 255, 0.95);

  --btnBr: #3949ab;
  --btnBg: #bbdefb;
  --btnHoverBr: #e0b65a;
  --btnHoverBg: #f9c890;
  --btnFocusBr: #f35811;
  --btnFocusBg: #f79f6d;
  --svgHover: invert(61%) sepia(49%) saturate(619%) hue-rotate(3deg)
    brightness(98%) contrast(79%);
  --svgFocus: invert(35%) sepia(100%) saturate(1150%) hue-rotate(353deg)
    brightness(96%) contrast(86%);
  --inputPlaceholder: #515886;

  --black: #000000;
  --blackTransparent: #00000040;
  --white: #ffffff;

  --red010: #f1c9c9;

  --transparent: #00000000;

  --scrollbar: #cad4f1;
  // --scrollbarArrows: #17212c; for scroll bar single button
  --scrollbarHover: #6ca2e0;
  --scrollbarFocus: #6090c7;
  --scrollbarThumb: #3b53be;
  --scrollbarThumbHover: #d89a67;
  --scrollbarThumbFocus: #c96a12;
  --scrollbarInactiveAction: #656581;
}

::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarThumb);
  border-radius: 10px;
  border: 4px solid var(--transparent);
  background-clip: content-box;
  &:hover {
    background-color: var(--scrollbarThumbHover);
  }
  &:active {
    background-color: var(--scrollbarThumbFocus);
  }
}

::-webkit-scrollbar-corner {
  background-color: var(--scrollbar);
}
::-webkit-scrollbar-track-piece {
  background-color: var(--scrollbar);
}
::-webkit-resizer {
  background-color: var(--scrollbar);
}

::-webkit-scrollbar-thumb:window-inactive {
  background-color: var(--scrollbarInactiveAction);
}

html {
  scrollbar-color: var(--scrollbarThumb) var(--scrollbar);
}
