:root {
  // --imageColor: #262626; //color for images
  // --imageColor: #26262680; //color for transparent images
  // --imageColorRed: #CC2727; filter: invert(34%) sepia(36%) saturate(4146%) hue-rotate(339deg) brightness(77%) contrast(110%);
  // --imageColorBlue: #1E18D9; filter: invert(13%) sepia(78%) saturate(3733%) hue-rotate(237deg) brightness(113%) contrast(116%);
  // --imageColorGreen: #1cc916; filter: invert(54%) sepia(80%) saturate(866%) hue-rotate(74deg) brightness(95%) contrast(102%);
  --blueWhite000: #f1efff;

  --blue010: #dee3f5;
  --blue020: #cad4f1;
  --blue030: #bdcdff;
  --blue060: #9ab0ec;
  --blue070: #7290e9;
  --blue080: #2d4ca7;
  --blue090: #275efe;

  --black000: #000000;
  --black000025: #00000040;
  --black000005: rgba(0, 0, 0, 0.05);
  --white000: #ffffff;

  --focus: #ff7b00;

  --grey080: #272727;
  --grey070: #464646;
  --grey060: #6d6d6d;
  --grey030: #cecece;
  --grey020: #eeeeee;

  --green070: #1aaf4c;
  --green050: #118a2b;
  --green030: #83bb96;

  --red090: #ff1515;
  --red070: #a73030;
  --red050: #a35252;
  --red010: #f1c9c9;

  --transparent: #00000000;

  --scrollbar: #cee5ff;
  // --scrollbarArrows: #17212c; for scroll bar single button
  --scrollbarButton: #86b7f0;
  --scrollbarHover: #6ca2e0;
  --scrollbarFocus: #6090c7;
  --scrollbarThumb: #3b53be;
  --scrollbarThumbHover: #213795;
  --scrollbarThumbFocus: #071a70;
  --scrollbarInactiveAction: #656581;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarThumb);
  border-radius: 25px;
  border: 3px solid transparent;
  background-clip: content-box;
  &:hover {
    background-color: var(--scrollbarThumbHover);
  }
  &:active {
    background-color: var(--scrollbarThumbFocus);
  }
}
::-webkit-scrollbar-button {
  background-color: var(--scrollbarButton);
  &:hover {
    background-color: var(--scrollbarHover);
  }
  &:active {
    background-color: var(--scrollbarFocus);
  }
  &:window-inactive {
    background-color: var(--scrollbarInactiveAction);
  }
  &:single-button {
    background-size: contain;
    background-repeat: no-repeat;
    &:vertical:decrement {
      background-image: url('./images/scrollUp.svg');
    }
    &:vertical:increment {
      background-image: url('./images/scrollDown.svg');
    }
    &:horizontal:decrement {
      background-image: url('./images/scrollLeft.svg');
    }
    &:horizontal:increment {
      background-image: url('./images/scrollRight.svg');
    }
  }
}

::-webkit-scrollbar-corner {
  background-color: var(--scrollbar);
}
::-webkit-scrollbar-track-piece {
  background-color: var(--scrollbar);
}
::-webkit-resizer {
  background-color: var(--scrollbar);
}

::-webkit-scrollbar-thumb:window-inactive {
  background-color: var(--scrollbarInactiveAction);
}

html {
  scrollbar-color: var(--scrollbarThumb) var(--scrollbar);
}
