:root {
  // --imageColor: #262626; //color for images
  // --imageColorRed: #CC2727; //color for images
  // --imageColorBlue: #1E18D9; //color for images
  // --imageColorGreen: #1cc916; //color for images
  --main: #f5f3ff;
  --border1: #624ed1;
  --input: #ffffff;

  --ms: rgba(0, 0, 0, 0.25);
  --msWindow: #bbbece;

  --tagsText: #ffffff;
  --tagsCol: #dcdee6;
  --tagText: #000000;
  --tagStandard: #ffffff;
  --tagRemoved: #e3deff;
  --tagRemovedLine: #5e4cff;

  --transparent: #00000000;

  --button: #ffffff;
  --button-hover: #dddddd;
  --button-border: #000000;

  --blueBrd: #275efe;
  --blueBrdL: #bbc1e1;
  --blueBg: #83a2ff;
  --blueBgL: #ffffff;

  --redBrd: #ff1515;
  --redBrdL: #c79191;
  --redBg: #ff5a5a;
  --redBgL: #ffffff;

  --greenBrd: #1fd455;
  --greenBrdL: #92c59e;
  --greenBg: #63c47b;
  --greenBgL: #ffffff;
  --text: #000000;
}
