:root {
  // --imageColor: #262626; //color for images
  // --imageColorRed: #CC2727; //color for images
  // --imageColorBlue: #1E18D9; //color for images
  // --imageColorGreen: #1cc916; //color for images
  --main: #f5f3ff;
  --main2: #e4dfff;
  --border1: #624ed1;
  --input: #ffffff;

  --ms: rgba(0, 0, 0, 0.25);
  --msWindow: #bbbece;

  --tagsText: #ffffff;
  --tagsCol: #dcdee6;
  --tagText: #000000;
  --tagStandard: #ffffff;
  --tagRemoved: #e3deff;
  --tagRemovedLine: #5e4cff;

  --transparent: #00000000;

  --button: #ffffff;
  --button-hover: #edeeff;
  --button-border: #6c75ec;
  --button-text: #34538b;

  --focusWithinBorder: #ff7b00;

  --blueBrd: #275efe;
  --blueBrdL: #bbc1e1;
  --blueBg: #83a2ff;
  --blueBgL: #ffffff;

  --redBrd: #ff1515;
  --redBrdL: #c79191;
  --redBg: #ff5a5a;
  --redBgL: #ffffff;

  --greenBrd: #1fd455;
  --greenBrdL: #92c59e;
  --greenBg: #63c47b;
  --greenBgL: #ffffff;

  --greyBrd: #272727;
  --greyBrdL: #464646;
  --greyBg: #6d6d6d;
  --greyBgL: #ffffff;
  --text: #000000;

  --scrollbar: #cee5ff;
  // --scrollbarArrows: #17212c; for scroll bar single button
  --scrollbarButton: #86b7f0;
  --scrollbarHover: #6ca2e0;
  --scrollbarFocus: #6090c7;
  --scrollbarThumb: #3b53be;
  --scrollbarThumbHover: #213795;
  --scrollbarThumbFocus: #071a70;
  --scrollbarInactiveAction: #656581;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarThumb);
  border-radius: 25px;
  border: 3px solid transparent;
  background-clip: content-box;
  &:hover {
    background-color: var(--scrollbarThumbHover);
  }
  &:active {
    background-color: var(--scrollbarThumbFocus);
  }
}
::-webkit-scrollbar-button {
  background-color: var(--scrollbarButton);
  &:hover {
    background-color: var(--scrollbarHover);
  }
  &:active {
    background-color: var(--scrollbarFocus);
  }
  &:window-inactive {
    background-color: var(--scrollbarInactiveAction);
  }
  &:single-button {
    background-size: contain;
    background-repeat: no-repeat;
    &:vertical:decrement {
      background-image: url('./images/scrollUp.svg');
    }
    &:vertical:increment {
      background-image: url('./images/scrollDown.svg');
    }
    &:horizontal:decrement {
      background-image: url('./images/scrollLeft.svg');
    }
    &:horizontal:increment {
      background-image: url('./images/scrollRight.svg');
    }
  }
}

::-webkit-scrollbar-corner {
  background-color: var(--scrollbar);
}
::-webkit-scrollbar-track-piece {
  background-color: var(--scrollbar);
}
::-webkit-resizer {
  background-color: var(--scrollbar);
}

::-webkit-scrollbar-thumb:window-inactive {
  background-color: var(--scrollbarInactiveAction);
}
