* {
  outline: none;
  border: none;
}

.fcj {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa {
  display: flex;
  align-items: center;
}

.fja {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fjs {
  display: flex;
  justify-content: space-between;
}

.brd {
  border-width: 1px;
  border-style: solid;
}

.br100 {
  border-radius: 50%;
}

.br25 {
  border-radius: 25px;
}
.br15 {
  border-radius: 15px;
}

.fS18 {
  font-size: 18px;
}
.fS16 {
  font-size: 16px;
}

.fW600 {
  font-weight: 600;
}

.fW500 {
  font-weight: 500;
}

.mtop {
  margin-top: 5px;
}
.mtopX3 {
  margin-top: 15px;
}
.mbottom {
  margin-bottom: 5px;
}

.userIcon32 {
  width: 32px;
  height: 32px;
}

.btn-core {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  border: 1px solid;
  border-radius: 25px;
  padding: 2.5px 5px;
  transition: 0.25s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  img[data-btn='btn-icon'] {
    transition: 0;
  }
}

.btn-img-core {
  background-color: var(--transparent);
  min-height: 30px;
  min-width: 30px;
  cursor: pointer;
}

.logo {
  background-repeat: no-repeat;
  background-position: center;
  &-gal {
    width: 45px;
    height: 45px;
    background-image: url('./images/favicon.svg');
    background-size: 35px;
    animation: HeaderLogoRotateIn 0.25s 3 linear;
    &:hover,
    &:focus {
      animation: HeaderLogoRotateOut 2.5s infinite linear;
    }
  }
  &-google {
    background-image: url('./images/header/Google.svg');
    width: 20px;
    height: 20px;
  }
}

.tag {
  &-text {
    width: max-content;
    margin: 0 0 0 2px;
  }
  &-container {
    width: max-content;
    float: left;
    margin: 4px 2px;
    padding: 0 4px;
    &-standard {
      background-color: var(--white);
    }
    button {
      margin: 0;
      padding: 0;
      min-width: 24px;
      min-height: 24px;
      img {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.gl-loading {
  z-index: 1;
  background-color: var(--blackTransparent);
  position: fixed;
  width: 100%;
  height: calc(100vh - 50px);
  top: 50px;
  left: 0;
  &-svg {
    background-color: var(--bgLightTransparent);
    width: 250px;
    height: 250px;
  }
}
@keyframes HeaderLogoRotateIn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes HeaderLogoRotateOut {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
