@import 'cssVars.scss';

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

#modal {
  display: flex;
  justify-content: center;
}

html {
  overflow-x: hidden;
}

.btn {
  background-color: var(--button);
  outline: none;
  height: 30px;
  width: max-content;
  border: 1.5px solid var(--button-border);
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  user-select: none;
  color: var(--button-text);
  padding: 1px 6px;
  margin: 0 3px;
  text-align: center;
  font-size: 14px;
  box-sizing: border-box;
  &:hover {
    background-color: var(--button-hover);
    box-shadow: 0px 0px 3px 1px var(--button-border);
  }
  &:focus:not(:focus-visible) {
    background-color: var(--button-hover);
    box-shadow: 0px 0px 3px 1px var(--button-border);
  }
}

.btn-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.btn-icon {
  &:hover {
    background-color: none;
    box-shadow: none;
  }
  &:focus:not(:focus-visible) {
    background-color: none;
    box-shadow: none;
  }
}

.btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--button-text);
  cursor: pointer;
}

button,
a,
input,
summary {
  &:focus:not(:focus-visible) {
    box-shadow: none;
  }
}

button,
a,
input,
summary,
div {
  &:focus-visible {
    box-shadow: 0 0 0 3px var(--focusWithinBorder);
  }
}

div {
  &:focus-visible {
    outline: none;
  }
  &:focus:not(:focus-visible) {
    outline: none;
  }
}
