.ms {
  position: fixed;
  z-index: 5;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: none;
  &-close {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--blackTransparent);
    transition: 0.25s ease;
    z-index: 5;
    &:hover {
      opacity: 0.5;
    }
    &:hover ~ .ms-window {
      opacity: 0.5;
    }
  }
  &-window {
    background-color: var(--bgLightTransparent95);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 75vw;
    height: max-content;
    margin-top: 40px;
    padding-top: 8px;
    transition: 0.25s ease;
    overflow: auto;
    z-index: 15;
  }
  &-actions {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 5px;
  }
  &-tags {
    &-panel {
      margin: 10px;
      display: flex;
      flex-flow: row wrap;
    }
    &-col {
      display: flex;
      flex-flow: column;
      border-radius: 10px;
      min-width: 100px;
      width: auto;
      margin: 5px;
    }
    &-title {
      margin-top: 2px;
      margin-bottom: 0;
      outline: none;
      padding: 2px;
    }
    &-query {
      margin: 0px 0px 2px 0px;
      max-height: 50vh;
      overflow-y: auto;
      padding: 5px;
    }
  }
  &-search {
    flex-flow: row wrap;
    padding-left: 4px;
    padding-right: 4px;
    min-height: 36px;
    p {
      margin: 2px;
    }
    label {
      margin-left: 5px;
    }
  }
}

.tag {
  &-container {
    &-removed {
      background-color: var(--red010);
      &:hover {
        background-color: var(--white);
      }
      &:hover .tag-text-removed {
        text-decoration: none;
      }
    }
  }
  &-text {
    color: var(--black000);
    &-removed {
      text-decoration-style: solid;
      text-decoration-line: line-through;
      text-decoration-thickness: 1.5px;
      text-decoration-color: var(--grey070);
    }
  }
  &-delete {
    &:hover {
      img {
        filter: invert(34%) sepia(36%) saturate(4146%) hue-rotate(339deg)
          brightness(77%) contrast(110%);
      }
    }
  }
  &-exclude {
    &:hover {
      img {
        filter: invert(34%) sepia(36%) saturate(4146%) hue-rotate(339deg)
          brightness(77%) contrast(110%);
      }
    }
  }
  &-add {
    &:hover {
      img {
        filter: invert(54%) sepia(80%) saturate(866%) hue-rotate(74deg)
          brightness(95%) contrast(102%);
      }
    }
  }
}

@media screen and (max-width: 436px) {
  .ms-tags-col {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .ms {
    &-window {
      width: 100%;
      overflow: auto;
      border-radius: 0;
    }
  }
}
