.ms {
  position: fixed;
  z-index: 5;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: none;
  &-close {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--black000025);
    transition: 0.25s ease;
    z-index: 5;
    &:hover {
      opacity: 0.5;
    }
    &:hover ~ .ms-window {
      opacity: 0.5;
    }
  }
  &-window {
    background-color: var(--blueWhite000);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 75vw;
    height: 75vh;
    margin-top: 40px;
    padding-top: 8px;
    transition: 0.25s ease;
    overflow: auto;
    z-index: 15;
  }
  &-actions {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 5px;
  }
  &-label {
    display: flex;
    align-items: center;
    background-color: var(--blue020);
    margin: 5px 3px 0 3px;
    padding: 2px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid var(--blue060);
    transition: 0.25s ease;
    color: var(--black000);
    &:hover {
      background-color: var(--blueWhite000);
    }
    &-blueLight {
      &:hover {
        border-color: var(--blue070);
        color: var(--blue070);
      }
      &-toggle {
        background: var(--white000);
        &::after {
          border-color: var(--white000) !important;
        }
        &:checked {
          background: var(--blue070);
          border-color: var(--blue060);
        }
      }
    }
    &-blue {
      &:hover {
        border-color: var(--blue090);
        color: var(--blue090);
      }
      &-toggle {
        background: var(--white000);
        &::after {
          border-color: var(--white000) !important;
        }
        &:checked {
          background: var(--blue090);
          border-color: var(--blue080);
        }
      }
    }
    &-red {
      &:hover {
        border-color: var(--red090);
        color: var(--red090);
      }
      &-toggle {
        background: var(--white000);
        &::after {
          border-color: var(--white000) !important;
        }
        &:checked {
          background: var(--red090);
          border-color: var(--red070);
        }
      }
    }
    &-green {
      &:hover {
        border-color: var(--green030);
        color: var(--green050);
      }
      &-toggle {
        background: var(--white000);
        &::after {
          border-color: var(--white000) !important;
        }
        &:checked {
          background: var(--green070);
          border-color: var(--green030);
        }
      }
    }
    &-grey {
      &:hover {
        border-color: var(--grey070);
        color: var(--grey070);
      }
      &-toggle {
        background: var(--white000);
        &::after {
          border-color: var(--white000) !important;
        }
        &:checked {
          background: var(--grey080);
          border-color: var(--grey060);
        }
      }
    }
    &-text {
      user-select: none;
      font-weight: 400;
    }
    &-toggle {
      -webkit-appearance: none;
      -moz-appearance: none;
      min-height: 21px;
      min-width: 21px;
      outline: none;
      position: relative;
      margin: 0;
      border: 1px solid;
      border-radius: 50%;
      transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
      cursor: pointer;
      &::after {
        content: '';
        position: absolute;
        width: 5px;
        height: 9px;
        border: 2px solid;
        border-top: 0;
        border-left: 0;
        left: 6px;
        top: 3px;
        transform: rotate(20deg);
        opacity: 0;
      }
      &:checked {
        &::after {
          opacity: 1;
          transform: rotate(43deg);
        }
      }
    }
  }
  &-labels {
    display: flex;
    flex-flow: column;
    width: 100%;
    &-text {
      font-weight: 500;
    }
    &-include {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      background-color: var(--blue010);
      width: 90%;
      margin: 5px;
      padding: 5px;
      border-radius: 5px;
    }
  }
  &-tags {
    &-panel {
      margin: 10px;
      display: flex;
      flex-flow: row wrap;
    }
    &-col {
      background-color: var(--blue020);
      display: flex;
      flex-flow: column;
      border-radius: 10px;
      min-width: 100px;
      width: 90%;
      margin: 5px;
      &[open] {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
      &[open] .ms-tags-text {
        border-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        user-select: none;
      }
    }
    &-summary {
      cursor: pointer;
      border-radius: 10px;
      background-color: var(--blue060);
      display: flex;
      justify-content: center;
      align-items: center;
      outline: none;
      padding: 2px;
    }
    &-query {
      margin: 0px 0px 2px 0px;
      max-height: 50vh;
      overflow-y: auto;
      padding: 5px;
    }
  }
}

.tag {
  &-container {
    background-color: var(--white000);
    margin: 4px 2px;
    padding: 1px 3px;
    border-radius: 15px;
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    float: left;
    &-removed {
      background-color: var(--grey020);
      &:hover {
        background-color: var(--white000);
      }
      &:hover .tag-text-removed {
        text-decoration: none;
      }
    }
  }
  &-text {
    color: var(--black000);
    width: max-content;
    &-removed {
      text-decoration-style: solid;
      text-decoration-line: line-through;
      text-decoration-thickness: 1.5px;
      text-decoration-color: var(--grey070);
    }
  }
  &-btn {
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &-delete {
    background-image: url('../../../images/search/tagDelete.svg');
    &:hover {
      img {
        filter: invert(34%) sepia(36%) saturate(4146%) hue-rotate(339deg)
          brightness(77%) contrast(110%);
      }
    }
  }
  &-exclude {
    background-image: url('../../../images/search/tagRemove.svg');
    &:hover {
      img {
        filter: invert(34%) sepia(36%) saturate(4146%) hue-rotate(339deg)
          brightness(77%) contrast(110%);
      }
    }
  }
  &-add {
    background-image: url('../../../images/search/tagAdd.svg');
    &:hover {
      img {
        filter: invert(54%) sepia(80%) saturate(866%) hue-rotate(74deg)
          brightness(95%) contrast(102%);
      }
    }
  }
}

@media screen and (max-width: 436px) {
  .ms-tags-col {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .ms {
    &-close {
      display: none;
    }
    &-window {
      width: 100%;
      height: calc(100% - 50px);
      overflow: auto;
    }
  }
}
